@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,400italic,500,600,700,800,900&subset=cyrillic);
@import url(../fonts/icomoon.css);

@font-face {
	font-family: 'PeterSkoropis';
	src: url('../fonts/2BA14D_0_0.eot');
	src: url('../fonts/2BA14D_0_0.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2BA14D_0_0.woff') format('woff'),
			url('../fonts/2BA14D_0_0.ttf') format('truetype');
}



html {
	font-size: 18px;
	line-height: 27px;
}

* {
	margin: 0;
	padding: 0;
	border-top: 0;

}

select, input, textarea, option {
	font-family: "Exo 2", sans-serif;
	line-height: 1.5rem;
	font-size: 1rem;
}

body {
	font-family: "Exo 2", sans-serif;
	font-weight: 300;
	line-height: 1.5rem;
	font-size: 1rem;
	color: #222;
	background-color: whitesmoke;
	min-width: 320px;
}

strong {
	font-weight: 600;
	vertical-align: top;
}

small {
	font-weight: 400;
	font-size: 0.724rem;
	vertical-align: top;
}

em {
	vertical-align: top;
}

q:before {
	content: "«";
}

q:after {
	content: "»";
}

a {
	/*color: rgb(100, 159, 223);*/
	color: inherit;
	cursor: pointer;
	box-shadow: 0px 1px 0px 0px #ccc;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
	transition: color 0.2s ease-out, background-color 0.2s ease-out;
	vertical-align: top;
}

a:hover {
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
}

h1 {
	line-height: 2.5rem;
	font-size: 2rem;
	font-weight: 200;
	text-align: center;
}

@media screen and (min-width: 1180px) {
	h1 {
		font-size: 4rem;
		line-height: 4.6
	}
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 3rem;
		line-height: 4rem;
	}
}

h1.smaller {
	font-size: 3.648rem;
	font-weight: 200;
	line-height: 4.5rem;
}

h2 {
	line-height: 3rem;
	font-size: 2.618rem;
	font-weight: 200;
}

h2.smaller {
	font-size: 2.236rem;
}

h3 {
	line-height: 3rem;
	font-size: 1.618rem;
	font-weight: 200;
}

h4 {
	font-size: 2.618rem;
	font-weight: 200;
}

p.hero {
	font-size: 1.382rem;
	line-height: 2rem;
	font-weight: 300;
}

h6 {

}

body > section {
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
	position: relative;
}

body > section > h1 {
	margin-bottom: 3rem;
}

.h1group {
	margin-bottom: 3rem;
	text-align: center;
}



figure > img {
	display: inline-block;
	vertical-align: top;
}

figure > figcaption {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}


.links {
	text-align: center;
	max-width: 1600px;
	margin: 0 auto;
}

.links small {
	display: block;
}

.links li {
	display: inline-block;
	vertical-align: top;
	margin-right: 0rem;
	padding-left: 4rem;
	margin-bottom: 3rem;
	width: 15rem;
	text-align: left;
	overflow-x: hidden;
}

.links li:last-child {
	margin-bottom: 0;
}


/*контакты*/
#contacts {
	overflow-x: hidden;
	height: 15rem;
	background: #ffffff url(../images/a-black-white-winter-249018.jpg) center 0px;
	padding-top: 4.5rem;
	padding-bottom: 0rem;
	z-index: 10;
	text-shadow: -1px -1px 2px rgba(255,255,255,0.3),
				1px -1px 2px rgba(255,255,255,0.3),
				-1px 1px 2px rgba(255,255,255,0.3),
				1px 1px 2px rgba(255,255,255,0.3);
	font-weight: 400;
}

#contacts img[alt="Виталий Кулешин"] {
	width: 10.5rem;
	height: 10.5rem;
	border-radius: 30%;
	border: solid #ffffff 0.25rem;
	position: relative;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 7px 0px rgba(0,0,0,0.1);
	margin-right: 3rem;
	margin-left: 3rem;
}

#contacts a {
	box-shadow: 0px 1px 0px 0px #ccc;
	border-radius: 5px;
	padding: 0 10px;
	margin-left: -10px;
}

#contacts a:hover {
	box-shadow: 0px 1px 0px 0px #888;
	background-color: #333;
	color: whitesmoke;
	text-shadow: none;
}

#contacts figure {
	display: inline-block;
	min-height: 10.5rem;
}

#contacts figure:before {
	content: " ";
	position: absolute;
	left: -15%;
	top: -30%;
	width: 160%;
	height: 130%;
	z-index: -1;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.1) 67%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.8)), color-stop(67%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.1) 67%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.1) 67%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.1) 67%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.1) 67%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#contacts figcaption {
	width: 22rem;
}

#contacts figcaption:nth-child(1) {
	text-align: right;
	padding-top: 1.5rem;
}

#contacts figcaption:nth-child(3) {
	text-align: left;
	padding-top: 3rem;
}

#contacts h2 {
	font-weight: 300;
}

@media screen and (max-width: 1200px) {
	#contacts {
		padding-top: 3rem;
		height: 13.5rem;
		/*background-position: center -250px;*/
	}

	#contacts h2 {
		font-size: 1.618rem;
		line-height: 3rem;
	}

	#contacts figcaption {
		width: 15rem;
	}

	#contacts img[alt="Виталий Кулешин"] {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		width: 10.5rem;
		height: 10.5rem;
	}
}

@media screen and (max-width: 900px) {
	#contacts {
		height: auto;
		overflow: hidden;
		padding-top: 1.5rem;
		padding-bottom: 3rem;
		/*background-position: center -580px;*/
	}

	#contacts figcaption,
	#contacts figcaption:nth-child(1),
	#contacts figcaption:nth-child(3) {
		display: block;
		width: auto;
		text-align: center;
	}

	#contacts figcaption:nth-child(1) {
		margin-bottom: 12rem;
		padding-top: 0;
	}

	#contacts figcaption:nth-child(3) {
		padding-top: 1.5rem;
	}

	#contacts h2 {
		font-size: 1.618rem;
		line-height: 3rem;
	}

	#contacts img[alt="Виталий Кулешин"] {
		position: absolute;
		left: 50%;
		margin-left: -5.25rem;
		top: 7.25rem;
	}
}

/*ресурсы*/
#resources {
	color: #ccc;
	background-color: #333;
	position: relative;
	z-index: 9;
	/*padding-bottom: 1.5rem;*/
	-webkit-box-shadow: inset 0 15px 30px -15px rgba(0,0,0,0.9), 0 0 0px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 15px 30px -15px rgba(0,0,0,0.9), 0 0 0px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 15px 30px -15px rgba(0,0,0,0.9), 0 0 0px 1px rgba(0,0,0,0.1);
}

#resources a {
	color: #888;
	box-shadow: 0px 1px 0px 0px #444;
}

#resources a:hover {
	color: #aaa;
	box-shadow: 0px 1px 0px 0px #888;

}



#resources .links a {
	border-radius: 2px;
	padding: 0 3px;
	margin-left: -3px;
}

#resources .links a:hover {
	background-color: whitesmoke;
	color: #333;
	transition: all 0.2s ease-out;
}

#resources .links li.highlight:before {
	content: "# ";
	color: rgb(100, 159, 223);
	font-size: 120%;
	line-height: inherit;
	vertical-align: top;
}

@media screen and (max-width: 700px) {
	#resources {
		padding-top: 3rem;
	}

	#resources h1 {
		top: -1.5rem;
	}

	#resources .links {
		max-width: 100%;
	}

	#resources .links li {
		display: block;
		width: auto;
		text-align: center;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		margin-bottom: 1.5rem;
		padding-left: 0;
	}
}


/*последняя работа*/
#last-work {
	padding-top: 0;
	padding-bottom: 0;
}

/*работы*/
#works {
	position: relative;
	z-index: 9;
	/*padding-top: 0px;*/
	padding-bottom: 3rem;
	-webkit-box-shadow: 0 0px 30px 0px rgba(0,0,0,0.9), 0 0 0px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0px 30px 0px rgba(0,0,0,0.9), 0 0 0px 1px rgba(0,0,0,0.1);
	box-shadow: 0 0px 30px 0px rgba(0,0,0,0.9), 0 0 0px 1px rgba(0,0,0,0.1);
	background-color: #ebebeb;
}

@media screen and (max-width: 700px) {
	#works {
		display: none;
	}
}

.pages {
	position: absolute;
	text-align: center;
	bottom: 1rem;
	left: 0px;
	width: 100%;
}

.pages .dot {
	display: inline-block;
	vertical-align: middle;
	width: 0.875rem;
	height: 0.875rem;
	border-radius: 50%;
	box-shadow: none;
	border: solid #ebebeb 0.5rem;
	background-color: #bdbdbd;
	transition: all 0.2s ease-out;
}

.pages .dot.active {
	background-color: #222;
}

.current-work {
	background: #ebebeb url(../images/device-background.jpg) no-repeat center bottom;
	padding-top: 3rem;
	position: relative;
	overflow: hidden;
}

.current-work a {
	color: inherit;
}

.current-work h1 {
	margin-bottom: 1.5rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	white-space: nowrap;
}

.current-work h1 sup {
	font-size: 0.724rem;
	vertical-align: top;
	display: inline-block;
	line-height: 1.5rem;
	font-weight: 400;
	margin-left: 1rem;
}

.current-work a.work-prev {
	width: 6rem;
	height: 6rem;
	display: block;
	position: absolute;
	bottom: 50%;
	left: 4.5rem;
	border-left: solid 2px;
	border-bottom: solid 2px;
	box-shadow: none;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.current-work a.work-next {
	width: 6rem;
	height: 6rem;
	display: block;
	position: absolute;
	bottom: 50%;
	right: 4.5rem;
	border-right: solid 2px;
	border-top: solid 2px;
	box-shadow: none;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	translate: z(0);
}

@media screen and (max-width: 1550px) {
	.current-work a.work-next {
		/*right: 3rem;*/
		width: 5rem;
		height: 5rem;
	}

	.current-work a.work-prev {
		/*left: 3rem;*/
		width: 5rem;
		height: 5rem;
	}
}

@media screen and (max-width: 1150px) {
	.current-work a.work-next {
		right: 3rem;
		width: 4rem;
		height: 4rem;
	}

	.current-work a.work-prev {
		left: 3rem;
		width: 4rem;
		height: 4rem;
	}
}

.current-work .h1group {
	margin-bottom: 0px;
	position: relative;
}

.current-work .h1group p {
	margin-left: auto;
	margin-right: auto;
	padding-left: 6rem;
	padding-right: 6rem;
}

.current-work .h1group a {
	border-radius: 2px;
	padding: 0px 5px;
	/*margin-left: -3px;*/
}

.current-work .h1group a:hover {
	background-color: #333;
	color: whitesmoke;
}

.current-work .device {
	display: block;
	position: absolute;
	left: 50%;
}

.current-work a.page-next,
.current-work a.page-prev {
	position: absolute;
	bottom: 50%;
	margin-bottom: 0.875rem;
	cursor: pointer;
	color: inherit;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: solid 2px;
}

.current-work a.page-next > *,
.current-work a.page-prev > * {
	display: none;
}

.current-work a.page-next {
	right: 6.5rem;
	font-size: 0.724rem;
}

.current-work a.page-prev {
	left: 6.5rem;
}

.not-ios .device .iframe-holder {
	overflow: hidden !important;
}

.current-work .device iframe {
	width: 100%;
	height: 100%;
	border: 0px;
}

@media screen and (max-width: 1150px) {
	.current-work a.page-next {
		right: 3rem;
	}

	.current-work a.page-prev {
		left: 3rem;
	}
}

/* все работы */

.all-works {
	margin-top: 1rem;
}

.all-works ul {
	list-style: none;
	margin-top: 3rem;
}

.all-works li {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.all-works h3 {
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.5rem;
}

.all-works p {
	font-size: 0.875rem;
}

.all-works li a {
	display: block;
	width: 300px;
	padding: 1.5rem 3rem;
	box-shadow: none;
	transition: all 0s ease-out;
	background-color: rgba(0,0,0,0.0);
	border-radius: 5px;
}

.all-works > p > a {
	border-radius: 2px;
	padding: 0px 5px;
	/*margin-left: -3px;*/
}

.all-works > p > a:hover {
	background-color: #333;
	color: whitesmoke;
}

.all-works li a:hover {
	background-color: #333;
	color: whitesmoke;
	transition: all 0.2s ease-out;
}


/*

██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝

*/

.current-work.mobile {
	padding-bottom: 27rem;
}

.current-work.desktop.mobile {
	padding-bottom: 61.5rem;
}

.current-work {
	padding-bottom: 61.5rem;
}

.current-work .device.desktop {
	bottom: 100px;
	margin-left: -594px;
	width: 1188px;
	height: 948px;
	background: url(../images/desktop.png) no-repeat center center;
}

.current-work .device.desktop .iframe-holder {
	width: 1947px;
	height: 1096px;
	position: absolute;
	left: 46px;
	top: 49px;
	border: 0px;
	-ms-transform: scale(0.5616,0.5616);
	-ms-transform-origin: 0% 0%;
	-moz-transform: scale(0.5616,0.5616);
	-moz-transform-origin: 0% 0%;
	-webkit-transform: scale(0.5616,0.5616);
	-webkit-transform-origin: 0% 0%;
	transform: scale(0.5616,0.5616);
	transform-origin: 0% 0%;
	background-color: #fff;
	overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
}

@media screen and (max-width: 1550px) {

/*

███╗   ██╗ ██████╗ ████████╗███████╗██████╗  ██████╗  ██████╗ ██╗  ██╗
████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗██╔═══██╗██╔═══██╗██║ ██╔╝
██╔██╗ ██║██║   ██║   ██║   █████╗  ██████╔╝██║   ██║██║   ██║█████╔╝
██║╚██╗██║██║   ██║   ██║   ██╔══╝  ██╔══██╗██║   ██║██║   ██║██╔═██╗
██║ ╚████║╚██████╔╝   ██║   ███████╗██████╔╝╚██████╔╝╚██████╔╝██║  ██╗
╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚═════╝  ╚═════╝  ╚═════╝ ╚═╝  ╚═╝

*/

	.current-work {
		padding-bottom: 43.5rem;
	}

	.current-work.desktop.mobile {
		padding-bottom: 43.5rem;
	}

	.current-work .device.desktop {
		bottom: 210px;
		margin-left: -444px;
		width: 887px;
		height: 524px;
		background: url(../images/notebook.png) no-repeat center center;
	}

	.current-work .device.desktop .iframe-holder {
		width: 1200px;
		height: 750px;
		position: absolute;
		left: 106px;
		top: 30px;
		border: 0px;
		overflow-x: hidden;
		-ms-transform: scale(0.5616,0.5616);
		-ms-transform-origin: 0% 0%;
		-moz-transform: scale(0.5616,0.5616);
		-moz-transform-origin: 0% 0%;
		-webkit-transform: scale(0.5616,0.5616);
		-webkit-transform-origin: 0% 0%;
		transform: scale(0.5616,0.5616);
		transform-origin: 0% 0%;
		background-color: #fff;
	}
}

/*

████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝
   ██║   ███████║██████╔╝██║     █████╗     ██║
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║
   ██║   ██║  ██║██████╔╝███████╗███████╗   ██║
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝

*/

@media screen and (max-width: 1000px) {
	.current-work {
		padding-bottom: 40.5rem;
	}

	.current-work.desktop.mobile {
		padding-bottom: 40.5rem;
	}

	.current-work .device.desktop {
		bottom: 90px;
		margin-left: -221px;
		width: 442px;
		height: 584px;
		background: url(../images/tablet.png) no-repeat center center;
	}

	.current-work .device.desktop .iframe-holder {
		width: 1200px;
		height: 1600px;
		position: absolute;
		left: 46px;
		top: 53px;
		border: 0px;
		overflow-x: hidden;
		-ms-transform: scale(0.2887,0.2887);
		-ms-transform-origin: 0% 0%;
		-moz-transform: scale(0.2887,0.2887);
		-moz-transform-origin: 0% 0%;
		-webkit-transform: scale(0.2887,0.2887);
		-webkit-transform-origin: 0% 0%;
		transform: scale(0.2887,0.2887);
		transform-origin: 0% 0%;
		background-color: #fff;
	}
}


/*

██████╗ ███████╗███████╗██╗  ██╗  ████████╗ █████╗ ██████╗       ███╗   ███╗ ██████╗ ██████╗
██╔══██╗██╔════╝██╔════╝██║ ██╔╝  ╚══██╔══╝██╔══██╗██╔══██╗      ████╗ ████║██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝█████╗██║   ███████║██████╔╝█████╗██╔████╔██║██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗╚════╝██║   ██╔══██║██╔══██╗╚════╝██║╚██╔╝██║██║   ██║██╔══██╗
██████╔╝███████╗███████║██║  ██╗     ██║   ██║  ██║██████╔╝      ██║ ╚═╝ ██║╚██████╔╝██████╔╝
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝     ╚═╝   ╚═╝  ╚═╝╚═════╝       ╚═╝     ╚═╝ ╚═════╝ ╚═════╝

*/


.current-work .device.tablet {
	bottom: 90px;
	margin-left: 0;
	right: 150px;
	left: auto;
	width: 442px;
	height: 584px;
	background: url(../images/tablet.png) no-repeat center center;
}

.current-work .device.tablet .iframe-holder {
	width: 768px;
	height: 1026px;
	position: absolute;
	left: 46px;
	top: 53px;
	border: 0px;
	overflow-x: hidden;
	-ms-transform: scale(0.45,0.45);
	-ms-transform-origin: 0% 0%;
	-moz-transform: scale(0.45,0.45);
	-moz-transform-origin: 0% 0%;
	-webkit-transform: scale(0.45,0.45);
	-webkit-transform-origin: 0% 0%;
	transform: scale(0.45,0.45);
	transform-origin: 0% 0%;
	background-color: #fff;
}

@media screen and (max-width: 1150px) {
	.current-work.desktop.tablet .device.tablet {
		right: 100px;
	}
}

@media screen and (max-width: 1000px) {
	.current-work.desktop.tablet .device.desktop {
		display: none;
	}

	.current-work.desktop.tablet .device.tablet {
		left: 50%;
		right: auto;
		bottom: 90px;
		margin-left: -221px;
	}
}

.current-work .device.mobile {
	left: 50%;
	margin-left: -82px;
	width: 165px;
	height: 339px;
	bottom: 70px;
	background: url(../images/mobile.png) no-repeat center center;
}

.current-work .device.mobile .iframe-holder {
	width: 350px;
	height: 528px;
	position: absolute;
	left: 14px;
	top: 59px;
	border: 0px;
	overflow-x: hidden;
	-ms-transform: scale(0.3942,0.3942);
	-ms-transform-origin: 0% 0%;
	-moz-transform: scale(0.3942,0.3942);
	-moz-transform-origin: 0% 0%;
	-webkit-transform: scale(0.3942,0.3942);
	-webkit-transform-origin: 0% 0%;
	transform: scale(0.3942,0.3942);
	transform-origin: 0% 0%;
	background-color: #fff;
}

.current-work.desktop .device.mobile {
	margin-left: 0;
	left: auto;
	right: 100px;

}

@media screen and (max-width: 1150px) {
	.current-work.desktop.mobile .device.mobile {
		right: 50px;
	}
}




/*проекты*/
#projects {
	position: relative;
	z-index: 9;
	color: #4c4744;
	padding-top: 1.5rem;
	font-weight: 400;
	background: url(../images/projects-background.jpg) left top;
	box-shadow: inset 0 30px 30px -30px rgba(0,0,0,0.15), 0 0 0px 1px rgba(0,0,0,0.15);
}

#projects a.help {
	top: 6.75rem;
}

#projects a {
	color: #b95e4b;
	box-shadow: 0px 1px 0px 0px rgba(185, 94, 75, 0.2);
}

#projects p a,
#projects .download a {
	border-radius: 2px;
	padding: 0 5px;
}

#projects p a:hover,
#projects .download a:hover {
	box-shadow: 0px 1px 0px 0px rgba(185, 94, 75, 0.7);
	background-color: #b95e4b;
	color: #EDDBB5;
}

#projects h2 {
	font-family: "PeterSkoropis";
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

#projects h2 a {
	text-decoration: none;
	box-shadow: none;
}

#projects h2 a:hover {
	box-shadow: none;
}

#projects:before {
	content: " ";
	width: 100%;
	position: relative;
	height: 5rem;
	margin-bottom: 1rem;
	display: block;
	background: url(../images/top-projects-border.jpg) no-repeat center center;
	background-size: auto 100%;
}


.projects {
	text-align: center;
	list-style: none;
	overflow: hidden;
}

.projects li {
	display: inline-block;
	vertical-align: top;
	margin-right: 4rem;
	margin-left: 4rem;
	margin-bottom: 3rem;
	width: 25rem;
	text-align: center;
}

.projects li p {
	text-align: left;
}

.projects li p.download {
	text-align: center;
}

@media screen and (max-width: 1250px) {
	.projects li {
		margin-left: 3rem;
		margin-right: 3rem;
		width: 20rem;
	}
}

@media screen and (max-width: 950px) {
	.projects li {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		margin-bottom: 6rem;
		width: auto;
		display: block;
	}
}

/*	Статьи	*/

#articles {
	background-color: rgba(18, 115, 153, 1.0);
	color: whitesmoke;
	font-weight: 400;
}

#articles .links a {
	border-radius: 2px;
	font-weight: 300;
	padding: 0 3px;
	margin-left: -3px;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	color: rgba(255,255,255,0.8);
	/*opacity: 0.8;*/
}

#articles .links li {
	width: 100%;
	box-sizing: border-box;
	max-width: 960px;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#articles .links a:hover {
	color: #333;
	background-color: whitesmoke;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}


/*	Свёрнутые секции */

section.collapsing > *:not(h1):not(toggle) {
	transform-origin: 50% 0%;
	transform: scale(1,0);
	transition: transform 0.3s ease-out, max-height 0.2s, padding-top 0.2s, padding-bottom 0.2s;
	max-height: 0;
}

section.collapsing:not(.active) h1 {
	margin-bottom: 0;
}

section.collapsing:not(.active) > *:not(h1):not(toggle) {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

section.collapsing.active > *:not(h1):not(toggle) {
	transform: scale(1,1);
	max-height: 4000px;
}

section.collapsing {
	position: relative;
}

section.collapsing > toggle {
	position: absolute;
	right: 2rem;
	top: 2rem;
	font-size: 2rem;
	line-height: 2rem;
	cursor: pointer;
	display: inline-block;
	z-index: 10;
}

section.collapsing > toggle:before {
	content: "↓";
}

section.collapsing.active > toggle:before {
	content: "↑";
}

section.collapsing:not(.active) {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

section.collapsing:not(.active) h1 {
	font-size: 1.75rem;
	line-height: 2rem;
	font-weight: 200;
}

section.collapsing h1 {
	transition: all 0.2s ease-out;
	cursor: pointer;
}

#works.collapsing.active > h1 {
	display: none;
}

#works.collapsing.active {
	padding-top: 0;
	/*padding-bottom: 0;*/
}

#works.collapsing:not(.active) {
	padding-bottom: 2rem;
}


/*	футер	*/

footer {
	text-align: center;
	margin-top: 4.5rem;
}