.diagonal-top,
.diagonal-bottom {
  z-index: 1;
  position: relative;
}

.diagonal-top:before {
  content: " ";
  width: 100%;
  width: calc(100% + 2rem);
  position: absolute;
  left: -1rem;
  height: 3rem;
  display: block;
  background: whitesmoke;
  /*background: rgba(255,100,1,0.5);*/
  background-size: auto 100%;
  box-shadow: 0px -10px 30px -15px rgba(0,0,0,0.75);
  transform: rotate(-0.25deg);
  top: -2rem;
  z-index: 2;
}

.diagonal-bottom:after {
  content: " ";
  width: 100%;
  width: calc(100% + 2rem);
  position: absolute;
  left: -1rem;
  height: 3rem;
  display: block;
  background: whitesmoke;
  /*background: rgba(255,100,1,0.5);*/
  background-size: auto 100%;
  box-shadow: 0px 15px 30px -15px rgba(0,0,0,0.75);
  transform: rotate(0.25deg);
  bottom: -2rem;
  z-index: 2;
}

@media (min-width: 768px) {
  .diagonal-top:before,
  .diagonal-bottom:after {
    height: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .diagonal-top:before,
  .diagonal-bottom:after {
    height: 4rem;
  }
}

@media (min-width: 1600px) {
  .diagonal-top:before,
  .diagonal-bottom:after {
    height: 4.5rem;
  }
}
