#products-section {
  position: relative;
  color: #ffffff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25),
    0px 0px 10px rgba(0, 0, 0, 0.5);
  min-height: 120vh;
  justify-content: flex-start;
  opacity: 0.75;
  padding-bottom: 4rem;
}

#products-section:before {
  content: " ";
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(images/by_warmachines5_1920.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #dad6c3;
}

#products-section:after {
  content: " ";
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0+50,0.25+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.25) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#40000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#products-section > * {
  z-index: 1;
  position: relative;
}

#products-section .profile-part-header {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.product {
  margin-bottom: 3.5rem;
  position: relative;
  font-weight: 400;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
}

.product:last-child {
  margin-bottom: 0;
}

.product .list-icon {
  position: relative;
  /*left: -1rem;*/
}

.product h4 {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1rem;
  text-align: center;
}

.product h4 span {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 4px;
  background-color: #54443a;
  color: #f5f2e3;
}

.product p {
  margin-bottom: 1rem;

}

.product li span,
.product p span {
  background-color: #f5efc7;
  text-shadow: none;
  font-weight: 400;
  color: #3e303e;
  font-weight: 500;
  padding: 2px 5px;
  border-radius: 4px;
  display: inline;
}

.product p span {
  display: inline;
  padding: 1px 5px;
  margin: 0 3px;
}

.product li span:first-child {
  /*margin-left: -5px;*/
}

@media (min-width: 400px) {
  #products-section {
    padding-bottom: 6rem;
  }
}

@media (min-width: 768px) {
  #products-section .profile-part-header {
    margin-bottom: 5rem;
  }

  .product {
    margin-bottom: 5rem;
  }

  #products-section {
    padding-bottom: 8rem;
  }
}

