.profile-part {
  padding: 3rem 0px;
  align-items: center;
}

.profile-part:first-child {
  padding-top: 0rem;
}

.profile-part:last-child {
  padding-bottom: 0rem;
}

.profile-part-header {
  text-align: center;
  margin-bottom: 1rem;
}

.profile-part-header h3 {
  font-size: 3rem;
  margin-top: 0.75rem;
}

.profile-part-header h3.lovers {
  font-size: 5rem;
  line-height: 1;
}

.profile-part-image {
  margin-bottom: 1rem;
}

.profile-part-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

@media (min-width: 576px) {
  .profile-part {
    padding: 3rem 0px;
  }
}

@media (min-width: 768px) {
  .profile-part-header {
    margin-bottom: 3rem;
  }

  .profile-part-header h3 {
    font-size: 3.5rem;
    /*margin-top: 2rem;*/
  }

  .profile-part-image {
    margin-bottom: 0;
  }

  .profile-part-image img {
    height: 420px;
  }
}

@media (min-width: 1200px) {
  .profile-part-image img {
    height: 520px;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  .profile-part-image img {
    height: 600px;
  }
}

.profile-part-body li {
  max-width: 35em;
}

section#about,
section#instruments {
  min-height: 0px;
}


section#wishes {
  padding-bottom: 1.5rem;
}

/*section#wishes .profile-part-body {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}*/

section#wishes .profile-part-header {
  margin-bottom: 3rem;
}

section#wishes .profile-part-image {
  margin-bottom: 0;
  margin-top: 2rem;
}

@media (min-width: 767px) {
  section#instruments:after {
    content: none;
  }

  section#instruments {
    margin-top: 2rem;
  }

  section#wishes .profile-part-header {
    margin-bottom: 4rem;
  }

  section#wishes .profile-part-image {
    margin-bottom: 0;
    margin-top: 3rem;
  }
}

@media (min-width: 992px) {
  section#wishes .profile-part-body {
    position: relative;
    left: 1rem;
  }

  section#wishes .profile-part-image {
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) {
  section#wishes .profile-part-body {
    position: relative;
    left: 4rem;
  }
}

@media (min-width: 1440px) {
  section#wishes .profile-part-body {
    position: relative;
    left: 2rem;
  }
}
