#works {
  display: block;
  margin: 2rem auto;
}

@media (max-width: 768px) {
  #works {
    display: none;
  }
}

.current-work {
  background: whitesmoke url(images/device-background-lighter.jpg) no-repeat center bottom;
  padding-top: 3rem;
  position: relative;
  overflow: hidden;
}

.current-work .device {
  display: block;
  position: absolute;
  left: 50%;
}

.current-work .device iframe {
  width: 100%;
  height: 100%;
  border: 0px;
}

.not-ios .device .iframe-holder {
  overflow: hidden !important;
}

/* Title */

.work-title {
  margin: 0rem 1.5rem 1.5rem 1.5rem;
}

.work-header-group p.lead {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

/* Arrows */

.current-work a.work-prev {
  width: 6rem;
  height: 6rem;
  display: block;
  position: absolute;
  bottom: 50%;
  left: 4.5rem;
  border-left: solid 2px;
  border-bottom: solid 2px;
  box-shadow: none;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: none;
}

.current-work a.work-next {
  width: 6rem;
  height: 6rem;
  display: block;
  position: absolute;
  bottom: 50%;
  right: 4.5rem;
  border-right: solid 2px;
  border-top: solid 2px;
  box-shadow: none;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  translate: z(0);
  background: none;
}

.current-work a.work-next.disabled,
.current-work a.work-prev.disabled {
  visibility: hidden;
}

@media screen and (max-width: 1550px) {
  .current-work a.work-next {
    width: 5rem;
    height: 5rem;
  }

  .current-work a.work-prev {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 1150px) {
  .current-work a.work-next {
    right: 3rem;
    width: 4rem;
    height: 4rem;
  }

  .current-work a.work-prev {
    left: 3rem;
    width: 4rem;
    height: 4rem;
  }
}

/* Dots */

.dots {
  position: absolute;
  text-align: center;
  bottom: 1rem;
  left: 0px;
  width: 100%;
}

.dots .dot {
  display: inline-block;
  vertical-align: middle;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  box-sizing: content-box;
  box-shadow: none;
  border: solid whitesmoke 0.5rem;
  background-color: rgba(84, 68, 58, 0.4);
  transition: all 0.2s ease-out;
}

.dots .dot.active {
  background-color: rgba(84, 68, 58, 0.9);
}


/*

██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝

*/

.current-work.mobile {
  padding-bottom: 27rem;
}

.current-work.desktop.mobile {
  padding-bottom: 61.5rem;
}

.current-work {
  padding-bottom: 61.5rem;
}

.current-work .device.desktop {
  bottom: 100px;
  margin-left: -594px;
  width: 1188px;
  height: 948px;
  background: url(images/desktop.png) no-repeat center center;
}

.current-work .device.desktop .iframe-holder {
  width: 1947px;
  height: 1096px;
  position: absolute;
  left: 46px;
  top: 49px;
  border: 0px;
  -ms-transform: scale(0.5616,0.5616);
  -ms-transform-origin: 0% 0%;
  -moz-transform: scale(0.5616,0.5616);
  -moz-transform-origin: 0% 0%;
  -webkit-transform: scale(0.5616,0.5616);
  -webkit-transform-origin: 0% 0%;
  transform: scale(0.5616,0.5616);
  transform-origin: 0% 0%;
  background-color: #fff;
  overflow: hidden;
}

@media screen and (max-width: 1550px) {

/*

███╗   ██╗ ██████╗ ████████╗███████╗██████╗  ██████╗  ██████╗ ██╗  ██╗
████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗██╔═══██╗██╔═══██╗██║ ██╔╝
██╔██╗ ██║██║   ██║   ██║   █████╗  ██████╔╝██║   ██║██║   ██║█████╔╝
██║╚██╗██║██║   ██║   ██║   ██╔══╝  ██╔══██╗██║   ██║██║   ██║██╔═██╗
██║ ╚████║╚██████╔╝   ██║   ███████╗██████╔╝╚██████╔╝╚██████╔╝██║  ██╗
╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚═════╝  ╚═════╝  ╚═════╝ ╚═╝  ╚═╝

*/

  .current-work {
    padding-bottom: 43.5rem;
  }

  .current-work.desktop.mobile {
    padding-bottom: 43.5rem;
  }

  .current-work .device.desktop {
    bottom: 210px;
    margin-left: -444px;
    width: 887px;
    height: 524px;
    background: url(images/notebook.png) no-repeat center center;
  }

  .current-work .device.desktop .iframe-holder {
    width: 1200px;
    height: 750px;
    position: absolute;
    left: 106px;
    top: 30px;
    border: 0px;
    overflow: hidden;
    -ms-transform: scale(0.5616,0.5616);
    -ms-transform-origin: 0% 0%;
    -moz-transform: scale(0.5616,0.5616);
    -moz-transform-origin: 0% 0%;
    -webkit-transform: scale(0.5616,0.5616);
    -webkit-transform-origin: 0% 0%;
    transform: scale(0.5616,0.5616);
    transform-origin: 0% 0%;
    background-color: #fff;
  }
}

/*

████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝
   ██║   ███████║██████╔╝██║     █████╗     ██║
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║
   ██║   ██║  ██║██████╔╝███████╗███████╗   ██║
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝

*/

@media screen and (max-width: 1000px) {
  .current-work {
    padding-bottom: 40.5rem;
  }

  .current-work.desktop.mobile {
    padding-bottom: 40.5rem;
  }

  .current-work .device.desktop {
    bottom: 90px;
    margin-left: -221px;
    width: 442px;
    height: 584px;
    background: url(images/tablet.png) no-repeat center center;
  }

  .current-work .device.desktop .iframe-holder {
    width: 1200px;
    height: 1600px;
    position: absolute;
    left: 46px;
    top: 53px;
    border: 0px;
    overflow: hidden;
    -ms-transform: scale(0.2887,0.2887);
    -ms-transform-origin: 0% 0%;
    -moz-transform: scale(0.2887,0.2887);
    -moz-transform-origin: 0% 0%;
    -webkit-transform: scale(0.2887,0.2887);
    -webkit-transform-origin: 0% 0%;
    transform: scale(0.2887,0.2887);
    transform-origin: 0% 0%;
    background-color: #fff;
  }
}


/*

██████╗ ███████╗███████╗██╗  ██╗  ████████╗ █████╗ ██████╗       ███╗   ███╗ ██████╗ ██████╗
██╔══██╗██╔════╝██╔════╝██║ ██╔╝  ╚══██╔══╝██╔══██╗██╔══██╗      ████╗ ████║██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝█████╗██║   ███████║██████╔╝█████╗██╔████╔██║██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗╚════╝██║   ██╔══██║██╔══██╗╚════╝██║╚██╔╝██║██║   ██║██╔══██╗
██████╔╝███████╗███████║██║  ██╗     ██║   ██║  ██║██████╔╝      ██║ ╚═╝ ██║╚██████╔╝██████╔╝
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝     ╚═╝   ╚═╝  ╚═╝╚═════╝       ╚═╝     ╚═╝ ╚═════╝ ╚═════╝

*/


.current-work .device.tablet {
  bottom: 90px;
  margin-left: 0;
  right: 150px;
  left: auto;
  width: 442px;
  height: 584px;
  background: url(images/tablet.png) no-repeat center center;
}

.current-work .device.tablet .iframe-holder {
  width: 768px;
  height: 1026px;
  position: absolute;
  left: 46px;
  top: 53px;
  border: 0px;
  overflow: hidden;
  -ms-transform: scale(0.45,0.45);
  -ms-transform-origin: 0% 0%;
  -moz-transform: scale(0.45,0.45);
  -moz-transform-origin: 0% 0%;
  -webkit-transform: scale(0.45,0.45);
  -webkit-transform-origin: 0% 0%;
  transform: scale(0.45,0.45);
  transform-origin: 0% 0%;
  background-color: #fff;
}

@media screen and (max-width: 1150px) {
  .current-work.desktop.tablet .device.tablet {
    right: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .current-work.desktop.tablet .device.desktop {
    display: none;
  }

  .current-work.desktop.tablet .device.tablet {
    left: 50%;
    right: auto;
    bottom: 90px;
    margin-left: -221px;
  }
}

.current-work .device.mobile {
  left: 50%;
  margin-left: -82px;
  width: 165px;
  height: 339px;
  bottom: 70px;
  background: url(images/mobile.png) no-repeat center center;
}

.current-work .device.mobile .iframe-holder {
  width: 350px;
  height: 528px;
  position: absolute;
  left: 14px;
  top: 59px;
  border: 0px;
  overflow: hidden;
  -ms-transform: scale(0.3942,0.3942);
  -ms-transform-origin: 0% 0%;
  -moz-transform: scale(0.3942,0.3942);
  -moz-transform-origin: 0% 0%;
  -webkit-transform: scale(0.3942,0.3942);
  -webkit-transform-origin: 0% 0%;
  transform: scale(0.3942,0.3942);
  transform-origin: 0% 0%;
  background-color: #fff;
}

.current-work.desktop .device.mobile {
  margin-left: 0;
  left: auto;
  right: 100px;

}

@media screen and (max-width: 1150px) {
  .current-work.desktop.mobile .device.mobile {
    right: 50px;
  }
}
