#works {
  display: block;
  /*margin: 2rem auto;*/
  width: 100%;
}

@media (max-width: 760px) {
  #works {
    display: none;
  }
}

@media (min-width: 765px) {
  #works {
    margin-top: 2rem;
  }
}

.current-work {
  /*background: whitesmoke url(images/device-background-lighter.jpg) no-repeat center bottom;*/
  /*padding-top: 3rem;*/
  position: relative;
  overflow: hidden;
}

.current-work .device {
  display: block;
  position: absolute;
  left: 50%;
}

.current-work .device iframe {
  width: 100%;
  height: 100%;
  border: 0px;
}

.not-ios .device .iframe-holder {
  overflow: hidden !important;
}

.work-description {
  font-weight: 300;
}

.work-description small {
  font-size: inherit;
  opacity: 0.5;
  font-weight: 300;
}

.work-header-group p.lead {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

.work-header-group .delimiter:before {
  content: "|";
}

.work-header-group .delimiter {
  margin: 0 0.25rem;
  vertical-align: text-bottom;
}

/* Arrows */

.current-work a.work-prev {
  width: 6rem;
  height: 6rem;
  display: block;
  position: absolute;
  bottom: 720px;
  left: 4.5rem;
  border-left: solid 2px;
  border-bottom: solid 2px;
  box-shadow: none;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: none;
}

.current-work a.work-next {
  width: 6rem;
  height: 6rem;
  display: block;
  position: absolute;
  bottom: 720px;
  right: 4.5rem;
  border-right: solid 2px;
  border-top: solid 2px;
  box-shadow: none;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  translate: z(0);
  background: none;
}

.current-work a.work-next.disabled,
.current-work a.work-prev.disabled {
  visibility: hidden;
}

@media screen and (max-width: 1550px) {
  .current-work a.work-next {
    width: 5rem;
    height: 5rem;
    bottom: 513px;
  }

  .current-work a.work-prev {
    width: 5rem;
    height: 5rem;
    bottom: 513px;
  }
}

@media screen and (max-width: 1150px) {
  .current-work a.work-next {
    right: 3rem;
    width: 4rem;
    height: 4rem;
  }

  .current-work a.work-prev {
    left: 3rem;
    width: 4rem;
    height: 4rem;
  }
}

/* Dots */

.dots {
  position: absolute;
  text-align: center;
  bottom: 0rem;
  left: 0px;
  width: 100%;
}

.dots .dot {
  display: inline-block;
  vertical-align: middle;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  box-sizing: content-box;
  box-shadow: none;
  border: solid whitesmoke 0.5rem;
  background-color: rgba(84, 68, 58, 0.4);
  transition: all 0.2s ease-out;
}

.dots .dot.active {
  background-color: rgba(84, 68, 58, 0.9);
}


/*

██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝

*/

.current-work.mobile {
  padding-bottom: 486px;
}

.current-work.desktop.mobile {
  padding-bottom: 1179px;
}

.current-work {
  padding-bottom: 1179px;
}

.current-work .device.desktop {
  bottom: 120px;
  margin-left: -620px;
  width: 1240px;
  height: 1020px;
  background: url(images/desktop-drawn.png) no-repeat center center;
  background-size: contain;
}

.current-work .device.desktop .iframe-holder {
  width: 1940px;
  height: 1082px;
  position: absolute;
  left: 72px;
  top: 76px;
  border: 0px;
  -ms-transform: scale(0.5616,0.5616);
  -ms-transform-origin: 0% 0%;
  -moz-transform: scale(0.5616,0.5616);
  -moz-transform-origin: 0% 0%;
  -webkit-transform: scale(0.5616,0.5616);
  -webkit-transform-origin: 0% 0%;
  transform: scale(0.5616,0.5616);
  transform-origin: 0% 0%;
  background-color: #fff;
  overflow: hidden;
}

@media screen and (max-width: 1550px) {

/*

███╗   ██╗ ██████╗ ████████╗███████╗██████╗  ██████╗  ██████╗ ██╗  ██╗
████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗██╔═══██╗██╔═══██╗██║ ██╔╝
██╔██╗ ██║██║   ██║   ██║   █████╗  ██████╔╝██║   ██║██║   ██║█████╔╝
██║╚██╗██║██║   ██║   ██║   ██╔══╝  ██╔══██╗██║   ██║██║   ██║██╔═██╗
██║ ╚████║╚██████╔╝   ██║   ███████╗██████╔╝╚██████╔╝╚██████╔╝██║  ██╗
╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚═════╝  ╚═════╝  ╚═════╝ ╚═╝  ╚═╝

*/

  .current-work {
    padding-bottom: 819px;
  }

  .current-work.desktop.mobile {
    padding-bottom: 819px;
  }

  .current-work .device.desktop {
    bottom: 210px;
    margin-left: -530px;
    width: 1060px;
    height: 578px;
    background: url(images/notebook-drawn.png) no-repeat center center;
    background-size: contain;
  }

  .current-work .device.desktop .iframe-holder {
    width: 1193px;
    height: 749px;
    position: absolute;
    left: 192px;
    top: 50px;
    border: 0px;
    overflow: hidden;
    -ms-transform: scale(0.5616,0.5616);
    -ms-transform-origin: 0% 0%;
    -moz-transform: scale(0.5616,0.5616);
    -moz-transform-origin: 0% 0%;
    -webkit-transform: scale(0.5616,0.5616);
    -webkit-transform-origin: 0% 0%;
    transform: scale(0.5616,0.5616);
    transform-origin: 0% 0%;
    background-color: #fff;
  }
}

/*

████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝
   ██║   ███████║██████╔╝██║     █████╗     ██║
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║
   ██║   ██║  ██║██████╔╝███████╗███████╗   ██║
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝

*/

@media screen and (max-width: 1030px) {
  .current-work {
    padding-bottom: 729px;
  }

  .current-work.desktop.mobile {
    padding-bottom: 729px;
  }

  .current-work .device.desktop {
    bottom: 55px;
    margin-left: -330px;
    width: 670px;
    height: 645px;
    background: url(images/tablet-drawn.png) no-repeat center center;
    background-size: contain;
  }

  .current-work .device.desktop .iframe-holder {
    width: 1200px;
    height: 1600px;
    position: absolute;
    left: 163px;
    top: 73px;
    border: 0px;
    overflow: hidden;
    -ms-transform: scale(0.2887,0.2887);
    -ms-transform-origin: 0% 0%;
    -moz-transform: scale(0.2887,0.2887);
    -moz-transform-origin: 0% 0%;
    -webkit-transform: scale(0.2887,0.2887);
    -webkit-transform-origin: 0% 0%;
    transform: scale(0.2887,0.2887);
    transform-origin: 0% 0%;
    background-color: #fff;
  }

  .current-work a.work-next {
    bottom: 396px;
  }

  .current-work a.work-prev {
    bottom: 396px;
  }
}


/*

██████╗ ███████╗███████╗██╗  ██╗  ████████╗ █████╗ ██████╗       ███╗   ███╗ ██████╗ ██████╗
██╔══██╗██╔════╝██╔════╝██║ ██╔╝  ╚══██╔══╝██╔══██╗██╔══██╗      ████╗ ████║██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝█████╗██║   ███████║██████╔╝█████╗██╔████╔██║██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗╚════╝██║   ██╔══██║██╔══██╗╚════╝██║╚██╔╝██║██║   ██║██╔══██╗
██████╔╝███████╗███████║██║  ██╗     ██║   ██║  ██║██████╔╝      ██║ ╚═╝ ██║╚██████╔╝██████╔╝
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝     ╚═╝   ╚═╝  ╚═╝╚═════╝       ╚═╝     ╚═╝ ╚═════╝ ╚═════╝

*/


.current-work .device.tablet {
  bottom: 80px;
  margin-left: 0;
  right: 120px;
  left: auto;
  width: 670px;
  height: 645px;
  background: url(images/tablet-drawn.png) no-repeat center center;
  background-size: contain;
}

.current-work .device.tablet .iframe-holder {
  width: 767px;
  height: 1026px;
  position: absolute;
  left: 163px;
  top: 73px;
  border: 0px;
  overflow: hidden;
  -ms-transform: scale(0.45,0.45);
  -ms-transform-origin: 0% 0%;
  -moz-transform: scale(0.45,0.45);
  -moz-transform-origin: 0% 0%;
  -webkit-transform: scale(0.45,0.45);
  -webkit-transform-origin: 0% 0%;
  transform: scale(0.45,0.45);
  transform-origin: 0% 0%;
  background-color: #fff;
}

@media screen and (max-width: 1150px) {
  .current-work.desktop.tablet .device.tablet {
    right: 20px;
  }
}

@media screen and (max-width: 1030px) {
  .current-work.desktop.tablet .device.desktop {
    display: none;
  }

  .current-work.desktop.tablet .device.tablet {
    left: 50%;
    right: auto;
    bottom: 55px;
    margin-left: -330px;
  }
}

.current-work .device.mobile {
  left: 50%;
  margin-left: -82px;
  width: 200px;
  height: 360px;
  bottom: 55px;
  background: url(images/mobile-drawn.png) no-repeat center center;
  background-size: contain;
}

.current-work .device.mobile .iframe-holder {
  width: 334px;
  height: 523px;
  position: absolute;
  left: 33px;
  top: 70px;
  border: 0px;
  overflow: hidden;
  -ms-transform: scale(0.3942,0.3942);
  -ms-transform-origin: 0% 0%;
  -moz-transform: scale(0.3942,0.3942);
  -moz-transform-origin: 0% 0%;
  -webkit-transform: scale(0.3942,0.3942);
  -webkit-transform-origin: 0% 0%;
  transform: scale(0.3942,0.3942);
  transform-origin: 0% 0%;
  background-color: #fff;
}

.current-work.desktop .device.mobile {
  margin-left: 0;
  left: auto;
  right: 100px;

}

@media screen and (max-width: 1150px) {
  .current-work.desktop.mobile .device.mobile {
    right: 50px;
  }
}

@media screen and (max-width: 1030px) {
  .current-work.desktop.mobile .device.mobile {
    right: 170px;
    bottom: 40px;
  }
}

@media screen and (max-width: 810px) {
  .current-work.desktop.mobile .device.mobile {
    right: 100px;
  }
}
