@import url(http://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,400italic,500,600,700,800,900&subset=cyrillic);
@charset "utf-8";

@font-face {
  font-family: 'PeterSkoropis';
  src: url('../fonts/2BA14D_0_0.eot');
  src: url('../fonts/2BA14D_0_0.eot?#iefix') format('embedded-opentype'),
      url('../fonts/2BA14D_0_0.woff') format('woff'),
      url('../fonts/2BA14D_0_0.ttf') format('truetype');
}

html {
  font-size: 18px;
  line-height: 27px;
}

* {
  margin: 0;
  padding: 0;
  border-top: 0;
}

select,
input,
textarea,
option {
  font-family: "Exo 2", sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
}

body {
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #222;
  background-color: ghostwhite;
  min-width: 320px;
  overflow-x: hidden;
}

strong {
  font-weight: 600;
  vertical-align: top;
}

small {
  font-weight: 400;
  font-size: 0.724rem;
  vertical-align: top;
}

em {
  vertical-align: top;
}

code {
  font-family: monospace;
  font-size: 0.875rem;
  vertical-align: baseline;
  font-weight: bold;
  white-space: nowrap;
}

q:before {
  content: "«";
}

q:after {
  content: "»";
}

a {
  /*color: rgb(100, 159, 223);*/
  color: inherit;
  cursor: pointer;
  box-shadow: 0px 1px 0px 0px #ccc;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  vertical-align: top;
}

a:hover {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(0,0,0,0.075);
}

h1 {
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}

@media screen and (min-width: 1180px) {
  h1 {
    font-size: 4rem;
    line-height: 4.6;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

h1.smaller {
  font-size: 3.648rem;
  font-weight: 200;
  line-height: 4.5rem;
}

h2 {
  line-height: 3rem;
  font-size: 2.618rem;
  font-weight: 200;
}

h2.smaller {
  font-size: 1.75rem;
  line-height: 2.5rem;
}

h3 {
  line-height: 3rem;
  font-size: 1.618rem;
  font-weight: 200;
}

h4 {
  font-size: 2.618rem;
  font-weight: 200;
}

p.hero {
  font-size: 1.382rem;
  line-height: 2rem;
  font-weight: 300;
}

.h1group {
  margin-bottom: 3rem;
  text-align: center;
}

/* Итемы */

.items {
  text-align: center;
  max-width: 1600px;
  margin: auto;
}

.items li {
  display: inline-block;
  vertical-align: top;
  margin-right: 0rem;
  padding-left: 4rem;
  margin-bottom: 3rem;
  width: 15rem;
  text-align: left;
  overflow-x: hidden;
}

.items.horz {
  display: flex;
}

.items.horz li {
  max-width: 20rem;
  width: auto;
  flex-grow: 1;
  padding-left: 0;
}

.items.horz li + li {
  margin-left: 2rem;
}

.items small {
  display: block;
  line-height: 1.25rem;
  opacity: 0.75;
}

.items .title {
  margin-bottom: 0.125rem;
  font-weight: 500;
}

.items figure {
  display: block;
  margin: 0 auto;
  height: 6em;
  text-shadow: none;
  box-sizing: border-box;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.items figure.graphic {
  height: 6rem;
}

.items figure.element {
  width: 6rem;
  height: 6rem;
  border-radius: 10%;
  background-color: #333;
  color: ghostwhite;
  font-weight: 600;
  font-size: 3rem;
  line-height: 5rem;
  border: solid rgba(255,255,255,0.5) 0.125rem;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.items figure + * {
  margin-top: 1rem;
}

/* Features */

.items.features {
  padding-top: 4rem;
}

.items.features small {
  opacity: 1;
}

.items.features li {
  width: 10rem;
  padding-left: 0rem;
  margin: 0 2rem 5rem 2rem;
  text-align: center;
}

.items.features .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  /*font-weight: 600;*/
}

/* Media */

.media {
  display: flex;
  align-items: center;
  width: 100%;
}

.media-key {
  width: 15rem;
  max-width: 15rem;
  max-height: 15rem;
  flex-grow: 1;
}

.media-key img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 15rem;
  max-height: 15rem;
}

.media-key.smaller {
  width: 10rem;
  max-width: 10rem;
  max-height: 10rem;
}

.media-key.smaller img {
  max-width: 10rem;
  max-height: 10rem;
}

.media-key:first-child {
  margin-right: 4rem;
}

.media-key:last-child {
  margin-left: 4rem;
}

.media-value {
  width: 100%;
}

.media-value:first-child:not(:last-child) {
  text-align: right;
}
section {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
  position: relative;
}

section > h1 {
  margin-bottom: 3rem;
}

/* темный блок */

section.dark {
  color: #ccc;
  background-color: #333;
  position: relative;
  z-index: 9;
  -webkit-box-shadow: inset 0 15px 30px -15px rgba(0,0,0,0.625), 0 0 0px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 15px 30px -15px rgba(0,0,0,0.625), 0 0 0px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 15px 30px -15px rgba(0,0,0,0.625), 0 0 0px 1px rgba(0,0,0,0.1);
}

section.dark a {
  color: #888;
  box-shadow: 0px 1px 0px 0px #444;
}

section.dark a:hover {
  color: #aaa;
  box-shadow: 0px 1px 0px 0px #888;
}

section.dark .links a {
  border-radius: 2px;
  padding: 0 3px;
  margin-left: -3px;
}

section.dark .links a:hover {
  background-color: ghostwhite;
  color: #333;
  transition: all 0.2s ease-out;
}

/* красный блок */

section.red {
  color: rgba(255, 255, 255, 0.86);
  background-color: rgb(140, 72, 58);
  position: relative;
  z-index: 9;
  -webkit-box-shadow: inset 0 15px 30px -15px rgba(0,0,0,0.5), 0 0 0px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 15px 30px -15px rgba(0,0,0,0.5), 0 0 0px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 15px 30px -15px rgba(0,0,0,0.5), 0 0 0px 1px rgba(0,0,0,0.1);
}

/*  Свёрнутый блок */

.collapsing > *:not(h1):not(toggle) {
  transform-origin: 50% 0%;
  transform: scale(1,0);
  transition: transform 0.3s ease-out, max-height 0.2s, padding-top 0.2s, padding-bottom 0.2s;
  max-height: 0;
}

.collapsing:not(.active) h1 {
  margin-bottom: 0;
}

.collapsing:not(.active) > *:not(h1):not(toggle) {
  padding-top: 0!important;
  padding-bottom: 0 !important;
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.collapsing.active > *:not(h1):not(toggle) {
  transform: scale(1,1);
  max-height: 6000px;
}

.collapsing {
  position: relative;
}

toggle {
  cursor: pointer;
  display: inline-block;
  z-index: 10;
  transition: top 0.2s, right 0.2s, font-size 0.2s;
  box-shadow: 0px 1px 0px 0px #ccc;
}

toggle .material-icons {
  font-size: 1.125rem;
}

toggle:hover {
  box-shadow: 0px 1px 0px 0px #000;
  background-color: rgba(0,0,0,0.075);
}

.collapsing:not(.active) > toggle > .active,
.collapsing.active > toggle > *:not(.active) {
  display: none;
}

.collapsing.active > toggle .fa:before {
  content: "\f077";
}

.collapsing:not(.active) h1 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.collapsing h1 {
  transition: all 0.2s ease-out;
  cursor: pointer;
}

toggle:not(.active) > .active,
toggle.active > *:not(.active) {
  display: none;
}

/* Диагональ */

section.diagonal:before {
  content: " ";
  position: absolute;
  left: -1.5rem;
  right: -1.5rem;
  top: -1rem;
  height: 2.5rem;
  transform: rotate(-1deg);
  z-index: -1;
}

section.diagonal:after {
  content: " ";
  position: absolute;
  left: -1.5rem;
  right: -1.5rem;
  bottom: -1rem;
  height: 2.5rem;
  transform: rotate(1deg);
  z-index: -1;
}

section.diagonal {
  box-shadow: none;
}

section.diagonal.dark:before,
section.diagonal.dark:after {
  background-color: #333;
}

section.diagonal.light:before,
section.diagonal.light:after,
section.diagonal.light {
  background-color: ghostwhite;
}

section.diagonal.red:before,
section.diagonal.red:after,
section.diagonal.red {
  background-color: rgb(140, 72, 58);
}

section.diagonal.dark:before,
section.diagonal.dark:after,
section.diagonal.dark {
  background-color: #333;
}

section.diagonal:before {
  -webkit-box-shadow: inset 0 10px 20px -10px rgba(0,0,0,0.5), 0 -1px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 10px 20px -10px rgba(0,0,0,0.5), 0 -1px 0px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0 10px 20px -10px rgba(0,0,0,0.5), 0 -1px 0px 0px rgba(0,0,0,0.1);
}

section.diagonal:after {
  -webkit-box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,0.5), 0 1px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,0.5), 0 1px 0px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,0.5), 0 1px 0px 0px rgba(0,0,0,0.1);
}

section.diagonal toggle {
  top: 0;
}

section.collapsing:not(.active).diagonal {
  padding-top: 0;
  padding-bottom: 0;
}

section.collapsing:not(.active).diagonal > toggle {
  top: 0.25rem;
}
/* Контакты */

#contacts {
  overflow-x: hidden;
  /*height: 60rem;*/
  background: #d1c9b0 url(../images/crimea-koktebel-1939.jpg) center -8rem;
  padding-top: 5rem;
  padding-bottom: 7rem;
  z-index: 10;
  text-shadow: -1px -1px 2px rgba(255,255,255,0.25),
				1px -1px 2px rgba(255,255,255,0.25),
				-1px 1px 2px rgba(255,255,255,0.25),
				1px 1px 2px rgba(255,255,255,0.25);
  font-weight: 400;
  /*background-size: auto calc(100% + 8rem);*/
}

#contacts:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgba(255,255,255,0.5);*/
  /*background-color: rgba(240, 220, 183, 0.46);*/
  z-index: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0dcb7+0,f0dcb7+100&0.75+0,0+100 */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(240,220,183,0.75) 0%, rgba(240,220,183,0.1) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(240,220,183,0.75) 0%,rgba(240,220,183,0.1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(240,220,183,0.75) 0%,rgba(240,220,183,0.1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bff0dcb7', endColorstr='#00f0dcb7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

#contacts > * {
  z-index: 1;
  position: relative;
}

#contacts img[alt="Виталий Кулешин"] {
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 30%;
  border: solid #ffffff 0.25rem;
  position: relative;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 7px 0px rgba(0,0,0,0.1);
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}

#contacts .card {
  display: inline-block;
  min-height: 10.5rem;
}

#contacts a,
#contacts toggle {
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.2);
}

#contacts a:hover,
#contacts toggle:hover {
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.5);
}

/*#contacts .card:before {
	content: " ";
	position: absolute;
	left: -15%;
	top: -30%;
	width: 160%;
	height: 130%;
	z-index: -1;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.15) 67%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255, 255, 255, 0.5)), color-stop(67%,rgba(255, 255, 255, 0.15)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.15) 67%,rgba(255,255,255,0) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.15) 67%,rgba(255,255,255,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.15) 67%,rgba(255,255,255,0) 100%);
	background: radial-gradient(ellipse at center,  rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.15) 67%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17000000', endColorstr='#00000000',GradientType=1 );
}*/

#contacts .card > img {
  display: inline-block;
  vertical-align: top;
}

#contacts .card > figcaption {
  width: 22rem;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

#contacts .card figcaption:nth-child(1) {
  text-align: right;
  padding-top: 1.75rem;
}

#contacts .card figcaption:nth-child(3) {
  text-align: left;
  padding-top: 3.25rem;
}

#contacts h2 {
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  #contacts {
    padding-top: 3rem;
    /*height: 18rem;*/
  }

  #contacts h2 {
    font-size: 1.618rem;
    line-height: 3rem;
  }

  #contacts .card figcaption {
    width: 15rem;
  }

  #contacts img[alt="Виталий Кулешин"] {
    margin-left: 1.15rem;
    margin-right: 1.15rem;
    width: 9.5rem;
    height: 9.5rem;
  }
}

@media screen and (max-width: 900px) {
  #contacts {
    height: auto;
    overflow: hidden;
    padding-top: 1.5rem;
    padding-bottom: 7.5rem;
  }

  #contacts .card figcaption,
  #contacts .card figcaption:nth-child(1),
  #contacts .card figcaption:nth-child(3) {
    display: block;
    width: auto;
    text-align: center;
  }

  #contacts .card figcaption:nth-child(1) {
    margin-bottom: 12rem;
    padding-top: 0;
  }

  #contacts .card figcaption:nth-child(3) {
    padding-top: 1.5rem;
  }

  #contacts h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
  }

  #contacts img[alt="Виталий Кулешин"] {
    position: absolute;
    left: 50%;
    margin-left: -5.25rem;
    top: 7.25rem;
  }
}

/* About */

.story {
  max-width: 35em;
  margin: 3rem auto 2rem auto;
  text-align: left;
  padding: 0 1rem;
}

#projects .story {
  max-width: 45em;
}

.story > *,
.story p {
  margin: 1rem auto;
}

.story .float-logo {
  opacity: 0.75;
  float: right;
  height: 10rem;
  margin: 0 0 1rem 2rem;
}

#contacts .story:before {
  content: "”";
  font-size: 3rem;
  display: block;
  text-align: center;
  margin-bottom: -0.25rem;
}

.story h2 {
  margin-top: 4rem;
}

.story h3 {
  font-weight: 300;
}

.story .media {
  margin: 3rem auto;
}

/* Ресурсы */

#resources {
  position: relative;
  z-index: 60;
}

#resources:before {
  content: " ";
  background-color: #ececec;
  left: -20%;
  right: -20%;
  position: absolute;
  width: 140%;
  top: -3rem;
  height: 20rem;
  border-radius: 50%;
  z-index: -1;
  background: #333;
  box-shadow: inset 0 10px 20px -10px rgba(0,0,0,0.75), 0 -1px 0px 0px rgba(0,0,0,0.325);
}

/*#resources .links li.highlight:before {
	content: "* ";
	color: rgb(100, 159, 223);
	font-size: 120%;
	line-height: inherit;
	vertical-align: top;
}

@media screen and (max-width: 700px) {
	#resources h1 {
		top: -1.5rem;
	}

	#resources .links {
		max-width: 100%;
	}

	#resources .links li {
		display: block;
		width: auto;
		text-align: center;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		margin-bottom: 1.5rem;
		padding-left: 0;
	}

	#resources .links li:last-child {
		margin-bottom: 0;
	}
}*/

/* Проекты */

#projects {
  position: relative;
  z-index: 50;
  color: #4c4744;
  padding-top: 5rem;
  padding-bottom: 7rem;
  font-weight: 400;
  background: #f0dcb7 url(../images/projects-background.jpg) left top;
}

#projects a.help {
  top: 6.75rem;
}

#projects a {
  color: #b95e4b;
  box-shadow: 0px 1px 0px 0px rgba(185, 94, 75, 0.2);
}

#projects h2 {
  color: #b95e4b;
}

#projects p a,
#projects .download a {
  border-radius: 2px;
  padding: 0 5px;
}

#projects p a:hover,
#projects .download a:hover {
  box-shadow: 0px 1px 0px 0px rgba(185, 94, 75, 0.7);
  background-color: #b95e4b;
  color: #EDDBB5;
}

#projects h2 {
  font-family: "PeterSkoropis";
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#projects h2 a {
  text-decoration: none;
  box-shadow: none;
}

#projects h2 a:hover {
  box-shadow: none;
}

#projects:before {
  content: " ";
  width: 100%;
  width: calc(100% + 2rem);
  position: absolute;
  left: -1rem;
  height: 7rem;
  display: block;
  background: #f0dcb7 url(../images/top-projects-border.jpg) no-repeat center -2rem;
  background-size: auto 100%;
  box-shadow: inset 0 15px 30px -15px rgba(0,0,0,0.75), 0px -1px 0px 0px #888;
  transform: rotate(2deg);
  top: -2rem;
}

/*#projects:after {
	content: " ";
	width: 100%;
	width: calc(100% + 2rem);
	position: absolute;
	left: -1rem;
	height: 7rem;
	display: block;
	background: #f0dcb7 url(../images/projects-background.jpg) left top;
	background-size: auto 100%;
	box-shadow: inset 0 -15px 30px -15px rgba(0,0,0,0.75);
	transform: rotate(-2deg);
	bottom: -2rem;
}*/

/*#projects:after {
	content: " ";
	background-color: #ececec;
	left: -20%;
	right: -20%;
	position: absolute;
	width: 140%;
	bottom: -3rem;
	height: 20rem;
	border-radius: 50%;
	z-index: -1;
	background: #f0dcb7 url(../images/projects-background.jpg) left top;
	box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,0.25), 0 1px 0px 0px rgba(0,0,0,0.325);
}*/

.projects {
  text-align: center;
  list-style: none;
  overflow: hidden;
}

.projects li {
  display: inline-block;
  vertical-align: top;
  margin-right: 4rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
  width: 25rem;
  text-align: center;
}

.projects li p {
  text-align: left;
}

.projects li h2 a:hover {
  background-color: transparent;
}

.projects li p.download {
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .projects li {
    margin-left: 3rem;
    margin-right: 3rem;
    width: 20rem;
  }
}

@media screen and (max-width: 950px) {
  .projects li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 6rem;
    width: auto;
    display: block;
  }
}

/*	Футер	*/

footer {
  margin-top: 5rem;
}

body > footer {
  text-align: center;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 3rem;
  background: #ebebeb;
}
/* Работы */

#works {
  position: relative;
  z-index: 20;
  background-color: #ebebeb;
}

#works:before {
  content: " ";
  background-color: #ececec;
  left: -20%;
  right: -20%;
  position: absolute;
  width: 140%;
  top: -3rem;
  height: 20rem;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 -10px 20px -10px rgba(0,0,0,0.5), 0 1px 0px 0px rgba(0,0,0,0.1);
}

@media screen and (max-width: 700px) {
  #works {
    display: none;
  }
}

#works.collapsing.active > h1 {
  display: none;
}

#works.collapsing.active {
  padding-top: 0;
  padding-bottom: 6rem;
}

.pages {
  position: absolute;
  text-align: center;
  bottom: 1rem;
  left: 0px;
  width: 100%;
}

.pages .dot {
  display: inline-block;
  vertical-align: middle;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  box-shadow: none;
  border: solid #ebebeb 0.5rem;
  background-color: #bdbdbd;
  transition: all 0.2s ease-out;
}

.pages .dot.active {
  background-color: #222;
}

.current-work {
  background: #ebebeb url(../images/device-background.jpg) no-repeat center bottom;
  padding-top: 3rem;
  position: relative;
  overflow: hidden;
}

.current-work a {
  color: inherit;
}

.current-work h1 {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  white-space: nowrap;
}

.current-work h1 sup {
  font-size: 0.724rem;
  vertical-align: top;
  display: inline-block;
  line-height: 1.5rem;
  font-weight: 400;
  margin-left: 1rem;
}

.current-work a.work-prev {
  width: 6rem;
  height: 6rem;
  display: block;
  position: absolute;
  bottom: 50%;
  left: 4.5rem;
  border-left: solid 2px;
  border-bottom: solid 2px;
  box-shadow: none;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: none;
}

.current-work a.work-next {
  width: 6rem;
  height: 6rem;
  display: block;
  position: absolute;
  bottom: 50%;
  right: 4.5rem;
  border-right: solid 2px;
  border-top: solid 2px;
  box-shadow: none;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  translate: z(0);
  background: none;
}

@media screen and (max-width: 1550px) {
  .current-work a.work-next {
    width: 5rem;
    height: 5rem;
  }

  .current-work a.work-prev {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 1150px) {
  .current-work a.work-next {
    right: 3rem;
    width: 4rem;
    height: 4rem;
  }

  .current-work a.work-prev {
    left: 3rem;
    width: 4rem;
    height: 4rem;
  }
}

.current-work .h1group {
  margin-bottom: 0px;
  position: relative;
}

.current-work .h1group p {
  margin-left: auto;
  margin-right: auto;
  padding-left: 6rem;
  padding-right: 6rem;
}

.current-work .device {
  display: block;
  position: absolute;
  left: 50%;
}

.current-work a.page-next,
.current-work a.page-prev {
  position: absolute;
  bottom: 50%;
  margin-bottom: 0.875rem;
  cursor: pointer;
  color: inherit;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px;
}

.current-work a.page-next > *,
.current-work a.page-prev > * {
  display: none;
}

.current-work a.page-next {
  right: 6.5rem;
  font-size: 0.724rem;
}

.current-work a.page-prev {
  left: 6.5rem;
}

.not-ios .device .iframe-holder {
  overflow: hidden !important;
}

.current-work .device iframe {
  width: 100%;
  height: 100%;
  border: 0px;
}

@media screen and (max-width: 1150px) {
  .current-work a.page-next {
    right: 3rem;
  }

  .current-work a.page-prev {
    left: 3rem;
  }
}

/*

██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝

*/

.current-work.mobile {
  padding-bottom: 27rem;
}

.current-work.desktop.mobile {
  padding-bottom: 61.5rem;
}

.current-work {
  padding-bottom: 61.5rem;
}

.current-work .device.desktop {
  bottom: 100px;
  margin-left: -594px;
  width: 1188px;
  height: 948px;
  background: url(../images/desktop.png) no-repeat center center;
}

.current-work .device.desktop .iframe-holder {
  width: 1947px;
  height: 1096px;
  position: absolute;
  left: 46px;
  top: 49px;
  border: 0px;
  -ms-transform: scale(0.5616,0.5616);
  -ms-transform-origin: 0% 0%;
  -moz-transform: scale(0.5616,0.5616);
  -moz-transform-origin: 0% 0%;
  -webkit-transform: scale(0.5616,0.5616);
  -webkit-transform-origin: 0% 0%;
  transform: scale(0.5616,0.5616);
  transform-origin: 0% 0%;
  background-color: #fff;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 1550px) {
  /*

███╗   ██╗ ██████╗ ████████╗███████╗██████╗  ██████╗  ██████╗ ██╗  ██╗
████╗  ██║██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗██╔═══██╗██╔═══██╗██║ ██╔╝
██╔██╗ ██║██║   ██║   ██║   █████╗  ██████╔╝██║   ██║██║   ██║█████╔╝
██║╚██╗██║██║   ██║   ██║   ██╔══╝  ██╔══██╗██║   ██║██║   ██║██╔═██╗
██║ ╚████║╚██████╔╝   ██║   ███████╗██████╔╝╚██████╔╝╚██████╔╝██║  ██╗
╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚══════╝╚═════╝  ╚═════╝  ╚═════╝ ╚═╝  ╚═╝

*/

  .current-work {
    padding-bottom: 43.5rem;
  }

  .current-work.desktop.mobile {
    padding-bottom: 43.5rem;
  }

  .current-work .device.desktop {
    bottom: 210px;
    margin-left: -444px;
    width: 887px;
    height: 524px;
    background: url(../images/notebook.png) no-repeat center center;
  }

  .current-work .device.desktop .iframe-holder {
    width: 1200px;
    height: 750px;
    position: absolute;
    left: 106px;
    top: 30px;
    border: 0px;
    overflow-x: hidden;
    -ms-transform: scale(0.5616,0.5616);
    -ms-transform-origin: 0% 0%;
    -moz-transform: scale(0.5616,0.5616);
    -moz-transform-origin: 0% 0%;
    -webkit-transform: scale(0.5616,0.5616);
    -webkit-transform-origin: 0% 0%;
    transform: scale(0.5616,0.5616);
    transform-origin: 0% 0%;
    background-color: #fff;
  }
}

/*

████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝
   ██║   ███████║██████╔╝██║     █████╗     ██║
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║
   ██║   ██║  ██║██████╔╝███████╗███████╗   ██║
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝

*/

@media screen and (max-width: 1000px) {
  .current-work {
    padding-bottom: 40.5rem;
  }

  .current-work.desktop.mobile {
    padding-bottom: 40.5rem;
  }

  .current-work .device.desktop {
    bottom: 90px;
    margin-left: -221px;
    width: 442px;
    height: 584px;
    background: url(../images/tablet.png) no-repeat center center;
  }

  .current-work .device.desktop .iframe-holder {
    width: 1200px;
    height: 1600px;
    position: absolute;
    left: 46px;
    top: 53px;
    border: 0px;
    overflow-x: hidden;
    -ms-transform: scale(0.2887,0.2887);
    -ms-transform-origin: 0% 0%;
    -moz-transform: scale(0.2887,0.2887);
    -moz-transform-origin: 0% 0%;
    -webkit-transform: scale(0.2887,0.2887);
    -webkit-transform-origin: 0% 0%;
    transform: scale(0.2887,0.2887);
    transform-origin: 0% 0%;
    background-color: #fff;
  }
}

/*

██████╗ ███████╗███████╗██╗  ██╗  ████████╗ █████╗ ██████╗       ███╗   ███╗ ██████╗ ██████╗
██╔══██╗██╔════╝██╔════╝██║ ██╔╝  ╚══██╔══╝██╔══██╗██╔══██╗      ████╗ ████║██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝█████╗██║   ███████║██████╔╝█████╗██╔████╔██║██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗╚════╝██║   ██╔══██║██╔══██╗╚════╝██║╚██╔╝██║██║   ██║██╔══██╗
██████╔╝███████╗███████║██║  ██╗     ██║   ██║  ██║██████╔╝      ██║ ╚═╝ ██║╚██████╔╝██████╔╝
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝     ╚═╝   ╚═╝  ╚═╝╚═════╝       ╚═╝     ╚═╝ ╚═════╝ ╚═════╝

*/

.current-work .device.tablet {
  bottom: 90px;
  margin-left: 0;
  right: 150px;
  left: auto;
  width: 442px;
  height: 584px;
  background: url(../images/tablet.png) no-repeat center center;
}

.current-work .device.tablet .iframe-holder {
  width: 768px;
  height: 1026px;
  position: absolute;
  left: 46px;
  top: 53px;
  border: 0px;
  overflow-x: hidden;
  -ms-transform: scale(0.45,0.45);
  -ms-transform-origin: 0% 0%;
  -moz-transform: scale(0.45,0.45);
  -moz-transform-origin: 0% 0%;
  -webkit-transform: scale(0.45,0.45);
  -webkit-transform-origin: 0% 0%;
  transform: scale(0.45,0.45);
  transform-origin: 0% 0%;
  background-color: #fff;
}

@media screen and (max-width: 1150px) {
  .current-work.desktop.tablet .device.tablet {
    right: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .current-work.desktop.tablet .device.desktop {
    display: none;
  }

  .current-work.desktop.tablet .device.tablet {
    left: 50%;
    right: auto;
    bottom: 90px;
    margin-left: -221px;
  }
}

.current-work .device.mobile {
  left: 50%;
  margin-left: -82px;
  width: 165px;
  height: 339px;
  bottom: 70px;
  background: url(../images/mobile.png) no-repeat center center;
}

.current-work .device.mobile .iframe-holder {
  width: 350px;
  height: 528px;
  position: absolute;
  left: 14px;
  top: 59px;
  border: 0px;
  overflow-x: hidden;
  -ms-transform: scale(0.3942,0.3942);
  -ms-transform-origin: 0% 0%;
  -moz-transform: scale(0.3942,0.3942);
  -moz-transform-origin: 0% 0%;
  -webkit-transform: scale(0.3942,0.3942);
  -webkit-transform-origin: 0% 0%;
  transform: scale(0.3942,0.3942);
  transform-origin: 0% 0%;
  background-color: #fff;
}

.current-work.desktop .device.mobile {
  margin-left: 0;
  left: auto;
  right: 100px;
}

@media screen and (max-width: 1150px) {
  .current-work.desktop.mobile .device.mobile {
    right: 50px;
  }
}

/* Список работ */

#list-of-works {
  margin-top: 3rem;
}

#toggle-list-of-works:not(.active) {
  margin-top: 3rem;
}

.items.works li {
  text-align: left;
  padding-left: 2rem;
  width: 20rem;
}

.items.works li a {
  display: block;
  padding: 1.5rem 2rem;
  box-shadow: none;
  transition: all 0.1s ease-out;
  background-color: rgba(0,0,0,0.0);
  border-radius: 5px;
}

.items.works li a:hover {
  background-color: #333;
  color: ghostwhite;
  transition: all 0.2s ease-out;
}