<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" hreflang="en" href="https://en.mr-woodman.ru">
  <title>Mr. Woodman</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
  <!-- Navbar -->
  <nav id="navbar" class="navbar">
    <a class="toggle"><i class="fas fa-bars"></i></a>
    <ul class="menu">
      <li>
        <a href="#welcome" title="Наверх">
          <i class="fas fa-home"></i><span>Добро пожаловать</span>
        </a>
      </li>
      <li>
        <a href="#skills" title="Умения">
          <i class="fas fa-chess-queen"></i><span>Умения</span>
        </a>
      </li>
      <li>
        <a href="#instruments" title="Приспособления">
          <i class="fas fa-chess-knight"></i><span>Приспособления</span>
        </a>
      </li>
      <li class="d-none d-md-block">
        <a href="#works" title="Готовые работы">
          <i class="fas fa-folder-open"></i><span>Готовые работы</span>
        </a>
      </li>
      <li>
        <a href="#products" title="Предложения">
          <i class="fas fa-chess"></i><span>Предложения</span>
        </a>
      </li>
      <li>
        <a href="#wishes" title="Желания">
          <i class="fas fa-chess-bishop"></i><span>Желания</span>
        </a>
      </li>
      <li>
        <a href="#projects" title="Домашние поделки">
          <i class="fab fa-github"></i><span>Домашние поделки</span>
        </a>
      </li>
    </ul>
    <ul class="language">
      <li>
        <a href="https://en.mr-woodman.ru" class="free">switch to <strong>english</strong></a>
      </li>
    </ul>
  </nav>

  <main>
    <!-- Welcome -->
    <section id="welcome">
      <div id="my-card" class="container">
        <div class="row">
          <div class="col-xl my-card-name">
            <p><span>Меня зовут</span></p>
            <h3><span>Виталий Кулешин</span></h3>
          </div>
          <div class="col-xl-12 my-card-avatar">
            <img class="avatar" src="about/images/vitla-18.jpg" alt="Виталий Кулешин" width="100%">
          </div>
          <div class="col-xl my-card-title">
            <h3><span><a href="https://github.com/antivitla" target="_blank" title="К профилю Github">antivitla <i class="fab fa-github"></i></a> <a href="mailto:antivitla@gmail.com" target="_blank" title="Написать письмо">gmail.com</a></span></h3>
            <p><span>и я frontend-разработчик,</span><br><span>которого вы ищете</span></p>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about" class="diagonal-top">
      <div class="container">
        <article class="profile-part row justify-content-center text-center">
          <div class="col-md-12 col-lg-10">
            <p class="lead">Опыт работы больше 10 лет. Свидетель рождения технологий на слуху, взрослел&nbsp;вместе с ними &mdash; знаю их тайные слабости и подлинную силу.</p>
          </div>
        </article>
      </div>
    </section>

    <!-- Skills -->
    <section id="skills">
      <div class="container">
        <article class="profile-part row justify-content-center">
          <div class="profile-part-header col-md-12">
            <i class="fas fa-chess-queen fa-3x"></i>
            <h3 class="peter">Умения</h3>
          </div>
          <div class="profile-part-image col-md-12">
            <img src="about/images/men_02.png" height="400">
          </div>
          <div class="profile-part-body col-md-10 col-lg-8 col-xl-7">
            <ul class="list-icon">
              <li>
                <div>&middot;</div>
                <div>Архитектура</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Оценка сроков и затрат; в том числе <em>для сложных и новых для команды задач</em></div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Перевод застарелого кода на новые рельсы; рефекторинг без даунтайма</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Доведение застопорившихся задач до результата</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Планирование, разбиение на этапы, расстановка приоритетов и формулирование задач; <strong>превращение неопределённости в ясность</strong></div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Каждой ситуации свой баланс перфекционизма <strong>vs</strong> скорости</div>
              </li>
              <li>
                <div>&middot;</div>
                <div><strong>Чувство прекрасного</strong></div>
              </li>
            </ul>
          </div>
        </article>
      </div>
    </section>

    <!-- Instruments -->
    <section id="instruments" class="diagonal-bottom">
      <div class="container">
        <article class="profile-part row justify-content-center">
          <div class="profile-part-header col-md-12">
            <i class="fas fa-chess-knight fa-3x"></i>
            <h3 class="peter">Приспособления</h3>
          </div>
          <div class="profile-part-image col-md-5">
            <img class="md-float-right" src="about/images/men_01.png" height="400">
          </div>
          <div class="profile-part-body col-md-7 col-lg-5">
            <ul class="list-icon">
              <li>
                <div>&middot;</div>
                <div>HTML5, EPUB, Structured (micro) Data</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>CSS/Sass/Stylus, Responsive, Олдскул по-требованию, Bootstrap, Foundation, Materialize CSS, Semantic UI, Skeleton</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Sketch, Photoshop, Illustrator</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>JavaScript: Vanilla, jQuery, Angular.js 1.x/<small>2 (in progress)</small>, Vue.js/Vuex, <small>React/Redux/RxJS (in-progress)</small></div>
              </li>
              <li>
                <div>&middot;</div>
                <div><strong>SVG, D3.js</strong></div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Интеграция соцсетей и сторонних сервисов (Facebook, VK, Google, Yandex, Github, etc.)</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Docker, Webpack, Gulp, Yeoman, Jasmine/Mocha, Karma</div>
              </li>
              <li>
                <div>&middot;</div>
                <div><small>Python/Django/DRF, Node.js, Ruby/Rails, PostgeSQL, Firebase</small></div>
              </li>
            </ul>
          </div>
        </article>
      </div>
    </section>

    <!-- Works -->
    <section id="works" class="diagonal-bottom">
      <div v-bind:class="['current-work', { desktop: hasDevice(work, 'desktop') }, { tablet: hasDevice(work, 'tablet') }, { mobile: hasDevice(work, 'mobile') }]">
        <!-- Title -->
        <div class="work-header-group text-center container">
          <div class="profile-part-header">
            <!-- <i class="material-icons" style="font-size: 3rem;">devices_other</i> -->
            <i class="fa fa-folder-open fa-3x"></i>
            <h3 class="peter">Готовая работа*</h3>
            <p>* Примеры кликабельны</p>
          </div>
          <p class="lead"><strong class="work-title">{{workTitle}}.</strong> &mdash; <span class="work-description" v-html="workDescription"></span></p>
          <p>&nbsp;</p>
          <p>
            <small>
              <a v-bind:href="getPath(work)" target="_blank" title="Открыть страницу исходной вёрстки в новом табе/окне">вёрстка в новом окне</a>
              <span class="delimiter" v-if="work.alive"></span>
              <a v-if="work.alive" v-bind:href="work.alive" title="Открыть получившийся реальный сайт проекта" target="_blank">{{getAlive(work)}}</a>
            </small>
          </p>
        </div>
        <!-- Screens -->
        <div v-for="device in devices" v-if="hasDevice(work, device)" v-bind:class="['device', device]">
          <div class="iframe-holder"><iframe v-bind:src="getPath(work)" height="100%"></iframe></div>
        </div>
        <!-- Dots -->
        <nav class="dots container-fluid" v-if="work.pages.length > 1">
          <a v-for="page in work.pages" v-on:click="setPage(page)" v-bind:class="['dot', { active: isActivePage(page) }]">&nbsp;</a>
        </nav>
        <!-- Next/Prev -->
        <a v-bind:class="['work-prev', { disabled: !hasPrev }]" v-on:click="prevWork()" title="Предыдущая работа"></a>
        <a v-bind:class="['work-next', { disabled: !hasNext }]" v-on:click="nextWork()" title="Следующая работа"></a>
      </div>
    </section>

    <!-- Products-->
    <section id="products-section">
      <div id="products" class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="profile-part-header">
              <i class="fas fa-chess fa-3x"></i>
              <h3 class="peter">Предложения</h3>
            </div>
          </div>

          <div class="product col-sm-10 col-md-8 col-lg-7">
            <h4><span style="transform: rotate(-0.5deg);">Консультация</span></h4>
            <p>Вопросы по frontend-технологиям, архитектурным решениям. Помощь с <span>оценкой и планированием</span> &mdash; как мелких, так и <span>больших и непонятных</span> задач.</p>
          </div>

          <div class="product col-sm-10 col-md-8 col-lg-7">
            <h4><span style="transform: rotate(0.5deg);">Документация</span></h4>
            <p>Написание и поддержка документов, делающих ясным то, что необходимо для реализации проекта. Как внутри-командных, так и для внешнего пользователя или заказчика.</p>
            <ul class="list-icon">
              <li>
                <div>&middot;</div>
                <div>Коммерческое предложение</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Техническое задание</div>
              </li>
              <li>
                <div>&middot;</div>
                <div><span>Описания фич и планов, фиксация соглашений, формализация API</span></div>
              </li>
            </ul>
          </div>

          <div class="product col-sm-10 col-md-8 col-lg-7">
            <h4><span style="transform: rotate(-0.5deg);">Ведение ИТ-проекта</span></h4>
            <p>Всё вышеперечисленное в рамках работы над проектом. Плюс, собственно, программирование.</p>
            <ul class="list-icon lead">
              <li>
                <div>&middot;</div>
                <div>Планирование, оценка, консультации, документация</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Построение архитектуры задачи/проекта</div>
              </li>
              <li>
                <div>&middot;</div>
                <div><span>Frontend-кодинг</span> с опытом UI/UX</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Поддержка Legacy-проектов</div>
              </li>
              <li>
                <div>&middot;</div>
                <div><small>Вёрстка PSD/Sketch &rarr; HTML &amp; CSS</small></div>
              </li>
            </ul>
          </div>

          <div class="action product col-12">
            <!-- <p class="lead">Что-такое надо?</p> -->
            <p  style="transform: rotate(0.5deg);"><a href="mailto:antivitla@gmail.com" class="button lead">Пиши мне на <strong>antivitla@gmail.com</strong></a></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Wishes -->
    <section id="wishes" class="diagonal-top diagonal-bottom">
      <div class="container">
        <article class="profile-part row justify-content-center">
          <div class="profile-part-header col-12">
            <i class="fas fa-chess-bishop fa-3x"></i>
            <h3 class="peter">Желания</h3>
          </div>
          <div class="profile-part-body col-md-10 col-lg-8">
            <ul class="list-icon">
              <li>
                <div>&middot;</div>
                <div>Сделать свой сервис заметок (продолжение моего тайм-трекера <a href="https://titamota.ru/" target="_blank">Titamóta</a>)</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Писать десктопные приложения под Electron (потому что JavaScript)</div>
              </li>
              <li>
                <div>&middot;</div>
                <div>Провести команду к удовлетворяющему результату</div>
              </li>
            </ul>
          </div>
          <div class="profile-part-image col-12">
            <img src="about/images/men_03.png" height="400">
          </div>
        </article>
      </div>
    </section>

    <!-- Projects -->
    <section id="projects-section">
      <div id="projects" class="container">
        <div class="row justify-content-between">
          <div class="profile-part-header col-md-12 text-center">
            <i class="fab fa-github fa-3x"></i>
            <h3 class="peter">Поделки</h3>
          </div>

          <div class="project col-lg-7">
            <h4>Тайм-трекер Titamóta</h4>
            <p><a href="https://titamota.ru" target="_blank"><i class="fas fa-link"></i> titamota.ru</a></p>
            <p class="lead">Малый, ненавязчивый и мощный таймер времени и денег (сам пользуюсь). Авторизация через соцсети, хотя можно работать и локально. Легкое манипулирование деревом тасков любой вложенности через "командную строку" таймера. Мой многолетний живой проект, сменивший уже <strong>5</strong> версий.</p>
            <p>#Vue.js, #Python/Django/DRF, #PostgreSQL, #Docker</p>
            <p><a href="https://github.com/abimbolas/titamota" target="_blank"><i class="fab fa-github"></i> github.com/abimbolas/titamota</a></p>
          </div>

          <div id="fontfit" class="project col-md-12 col-lg-4">
            <h4>Fontfit.js</h4>
            <p><a href="https://github.com/antivitla/mr-fontfit" target="_blank"><i class="fab fa-github"></i> antivitla/mr-fontfit</a></p>
            <p class="text-center">
              <div data-fontfit style="font-weight: 700; letter-spacing: -0.0375rem;">Зачем? А</div>
              <div data-fontfit>&mdash; чтоб текст</div>
              <div data-fontfit>на всю доступную ширину</div>
              <div data-fontfit style="font-weight: 800; letter-spacing: -0.0375rem;">ВЛАЗИЛ</div>
            </p>
            <p class="text-center"><a href="https://www.npmjs.com/package/mr-fontfit"><i class="fab fa-npm fa-3x"></i></a></p>
            <p><a href="https://www.npmjs.com/package/mr-fontfit" data-fontfit>npm install mr-fontfit</a></p>
          </div>

          <div class="project col-md-5 col-lg-4">
            <h4>Компоненты для HTML/CSS</h4>
            <p><a href="https://github.com/antivitla/mr-utils" target="_blank"><i class="fab fa-github"></i> antivitla/mr-utils</a></p>
            <p>Упрощенная система модулей для HTML/CSS. В продакшн не идет, облегчает вёрстку шаблонов:<br><a href="https://www.npmjs.com/package/mr-utils" target="_blank"><i class="fab fa-npm"></i>  npm install mr-utils</a></p>
          </div>

          <div class="project col-md-5 col-lg-4">
            <h4>Вёрстка-через-тестирование</h4>
            <p><a href="https://github.com/antivitla/mr-testwood" target="_blank"><i class="fab fa-github"></i> antivitla/mr-testwood</a></p>
            <p>Попытка сымитировать <a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0_%D1%87%D0%B5%D1%80%D0%B5%D0%B7_%D1%82%D0%B5%D1%81%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5" target="_blank">Test Driven Development</a> (<q>разработка через тестирование</q>), только для вёрстки:<br><a href="https://www.npmjs.com/package/mr-testwood" target="_blank"><i class="fab fa-npm"></i> npm install mr-testwood</a></p>
          </div>

          <div class="project col-md-5 col-lg-4">
            <h4>Генератор смешных словосочетаний</h4>
            <p><a href="https://github.com/antivitla/mr-funny" target="_blank"><i class="fab fa-github"></i> antivitla/mr-funny</a></p>
            <p>Строго говоря, не обязательно смешных &mdash; какие слова скормишь, такие и получишь:<br><a href="https://www.npmjs.com/package/mr-funny" target="_blank"><i class="fab fa-npm"></i> npm install mr-funny</a></p>
          </div>

          <div class="project col-md-5 col-lg-8">
            <h4>Бинарные операции с массивом</h4>
            <p><a href="https://github.com/antivitla/mr-sorted-array" target="_blank"><i class="fab fa-github"></i> antivitla/mr-sorted-array</a></p>
            <p>Сверхбыстрое добавление, удаление и поиск в сортированном массиве, используя <q>бинарный</q> алгоритм:<br><a href="https://www.npmjs.com/package/mr-sorted-array" target="_blank"><i class="fab fa-npm"></i> npm install mr-sorted-array</a></p>
          </div>

          <div class="project col-md-5 col-lg-4">
            <h4>И прочее</h4>
            <div>
              <a href="https://github.com/antivitla" target="_blank"><i class="fab fa-github"></i> github.com/antivitla</a>
            </div>
            <div>
              <a href="https://gist.github.com/antivitla" target="_blank">gist.github.com/antivitla</a>
            </div>
            <div>
              <a href="https://npmjs.com/~antivitla/" target="_blank"><i class="fab fa-npm"></i> npmjs.com/~antivitla</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="text-center container">
        <p class="lead">Mr. Woodman v4.1</p>
        <p class="smallers">cделано на левом берегу&trade;</p>
        <img class="cat" src="about/images/cat-preloader.gif">
        <p class="smaller"><span style="opacity: 0.5;">powered by:</span> Иван Билибин, Олег Фёдоров, <span style="opacity: 0.5;">and</span> Simon Stålenhag.</small></p>
      </footer>
    </section>
  </main>
</body>
</html>
